/*=====================================
=            header styles            =
=====================================*/



.l-header {
	
}

a {
	text-decoration: none;
	
	&:hover {
		color: $color-link-hover;			
	}
}	

nav ul {
	margin-top: 1rem;
	list-style-type: none;
	line-height: 3rem;
	font-size: 2rem;

	li {
		display: inline;
		margin-left: 0.5rem;
		padding: 0 1rem;
		line-height: 3rem;

	}
}


