/*====================================
=            forms styles            =
====================================*/


form {
	
}

// Removing blue glowing line 
input[type="text"], 
input[type="email"],
input[type="number"],
input[type="submit"],
textarea,
select {

	width: 100%;
	height: 50px;
	background: transparent;


	font-size: 1.3rem;
	color: $color-light-text;
	padding: 10px;


	outline: none;
	box-shadow:none !important;
	border: 1px solid #CCC !important;

	border-radius: 5px;

}

select option {
	color: $color-light-text;
}

textarea {
    height: 200px;
	display: block;
    text-align: left;

}

input[type="radio"],
input[type="checkbox"] {
	margin-left: 5px;
	
	&:first-child {
		margin-left: 0;
	}

}

.word-container {
  	display: block;
    width: 80%;
    height: auto;
    margin: 5px auto;
    font-size: 1em;
    word-break: break-all;
    white-space: normal;
}

.message {
	color: $color-text;
}



